/* CSS Variables */

:root {
    --accent-blue: #023e8a;
    --accent-green: #7fd14d;
    --grey: rgba(0,0,0,0.85);
    --select-arrow: var(--grey);
}

/* Global Style Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
}

nav {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 1px 2px 2px rgb(55 56 72 / 4%);
}

h1,
h2,
h3,
h4 {
    font-family: 'Rajdhani', sans-serif; 
}

h3 {
    color: rgba(0,0,0,0.85);
}

.center {
    text-align: center;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    color: inherit;
}

.top-nav {
    padding: 1rem;
}

.logo {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.button {
    display: flex;
    flex-direction: row;
    appearance: button;
    -webkit-appearance: button;

    background-color: #1a759f;
    color: #fff;
    border-radius: .75rem;
    border-width: 0;
    outline: none;

    padding: .4rem .6rem;

    font-size: .75rem;
    line-height: .75rem;
    cursor: pointer;
}

.button:hover {
    background: #1e6091;
}

.button:focus {
    box-shadow: inset 0 0 0 .1rem #184e77;
}

.user-icon {
    width: .75rem;
    height: .75rem;
    border: .15rem solid #fff;
    border-radius: 100%;
}

.button-text {
    padding-left: .3rem;
}

.hero {
    padding-bottom: 3rem;
}

.hero-title {
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
}

.hero-text {
    font-weight: 400;
    font-size: .9rem;
}

.search-bar {
    position: relative; /* Setting parent element to relative for absolute positioning of the dropdowns */
    width: 80vw;
    max-width: 75rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-radius: .5rem;
    border: .1rem solid rgb(198, 199, 199);
    box-shadow:
        12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
        100px 100px 80px rgba(0, 0, 0, 0.07);
}

.search-section {
    width: 100%;
    padding: .5rem 1rem;
    font-size: .8rem;

    /* From the Freightos Website*/
    background: linear-gradient(rgb(198, 199, 199), rgb(198, 199, 199)) right center / 1px 40% no-repeat, transparent;
    background-repeat: no-repeat;
}

.search-section:last-child {
    background: none;
    width: 4rem;
}

.search-subtitle {
    font-size: .7rem;
    font-weight: 500;
    color: #4A4E69;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 15vw;
}

.search-button {
    max width: 25rem;
}

.search-button {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    line-height: 1;
    color: #a0a6cc;
    background: transparent;
    border: none;
    cursor: pointer;
}

.h3 {
    font-size: 1.15rem;
    padding-bottom: 1rem;
}

.dropdown-answer {
    display: flex;
    justify-content: space-between;
    font-size: .8rem;
    font-weight: 600;
}

.dropdown-label {
    padding-bottom: .5rem;
}

footer {
    padding: 1rem;
    font-weight: 400;
    font-size: .75rem;
}